<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TOP</title>
</head>
<body>
<a href="/new"><button type="button">新規投稿</button> </a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>内容</th>
    </tr>
    <tr th:each="content : ${contents}">
        <td th:text="${content.id}">
        <td th:text="${content.content}">
    </tr>
</table>
</body>
</html>